
<%-partial('header',undefined)%>

  <div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      
      
      
      
      <h1>عکس یاب</h1>
      
         <img class = "centered_icon" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fpicture-01-512.png?1543184708879" alt="">
  <p style = "direction: rtl ;" >
    
<p style = "direction: rtl ;">
مشکلات جستجو کردن با گوگل:
اکثر عکس هارو نمیتونید دانلود کنید و بعضی وقتا اصلا آپشن دانلود رو به شما نمیده و فقط میتونید ببینیدش.
خیلی از عکس ها فیلتره و نمیتونید ببینیدشون.
با مرورگر جستجو کردن سرعت خیلی خوبی نداره.
<br/>
  <br/>

با ربات من همه این مشکلات حل شده، فقط اسم عکسیو که میخوای بنویس و راحت دانلودش کن.
  <br/>
لینک ربات :
  <br/>
https://t.me/AxyabBot
  <br/>
لینک داخل تلگرامی ربات:
  <br/>
@axyabBot
      </p>


          <img class="tall_centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FScreenshot_2018-11-22-01-35-04.png?1543185132813" alt="">

          
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<%-partial('footer',undefined)%>
