<%-partial('header',undefined)%>

<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">ربات های تلگرامی من</header>
          <ul class="nospace clear">
              
            <li class="one_quarter first"><a href="bots/torrent-finder.html">
                <h1>تورنت یاب </h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181116_150519_413.jpg?1542839653062" alt=""></a></li>
            
              <li class="one_quarter"><a href="bots/metabot.html">
                  <h1>متابات</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181117_223424_530.jpg?1542839665954" alt=""></a></li>
            <li class="one_quarter"><a href="bots/tarjomism.html">
                  <h1>ترجمیسم</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fworld.png?1543014131314" alt=""></a></li>
            <li class="one_quarter">
                <h1>عکس یاب</h1><a href="bots/axyab.html"><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fpicture-01-512.png?1543184708879" alt=""></a></li>
            <li class="one_quarter first">
                <h1>ربات همه کاره</h1><a href="bots/utility-bot.html"><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181113_170314.jpg?1542839661506" alt=""></a></li>
          </ul>
          <figcaption>برای دیدن مشخصات هر ربات روی اون کلیک کنید</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>
