 
    <%-partial('header',undefined)%>

<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>مدل پل</h1>
          <img class="centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FBridge2.JPG?1543015003183" alt="">
    </div>
    <a href = "https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FBridge.fbx?1543103689751"> لینک دانلود</a>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<%-partial('footer',undefined)%>

    
