<%-partial('header',undefined)%>

<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">بازی های من</header>
          <ul class="nospace clear">
              
            <li class="one_quarter first"><a href="/games/mashinran.html">
                <h1>ماشین ران</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FCapture.JPG?1543159105816" alt=""></a></li>
          </ul>
          <figcaption>برای دیدن مشخصات هر بازی روی اون کلیک کنید</figcaption>
        </figure>
      </div>

      
      
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>
