<!DOCTYPE html>
<!--
Template Name: Colossus
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html>
<head>
<title>نوید حقیقی</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/layout.css" rel="stylesheet" type="text/css" media="all">
  <link href="/navid-styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html">وبسایت نوید حقیقی</a></h1>
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="games.html">بازی ها</a></li>
        <li><a class="drop" href="bots.html">ربات ها</a>
          <ul>
            <li><a href="/bots/torrent-finder.html">تورنت یاب</a></li>
            <li><a href="/bots/metabot.html">متابات</a></li>
            <li><a href="/bots/tarjomism.html">ترجمیسم</a></li>
            <li><a href="/bots/axyab.html">عکس یاب</a></li>
            <li><a href="/bots/utility-bot.html">ربات همه کاره</a></li>

          </ul>
        </li>
          <li class="active"><a href="/models.html">مدل ها</a></li>
          <li class="active"><a href="/index.html">صفحه اصلی</a></li>

      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
