
<%-partial('header',undefined)%>

<div class="wrapper">
  <div id="slider" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Ftg.jpg?1543191300181" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">انواع ربات های کاربردی تلگرام </h2>
                  <p><a class="btn orange pushright" href="/bots.html">لیست ربات های تلگرامی من</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fjoystick_white_black_button_xbox_hd-wallpaper-25568.jpg?1543191594908" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">بازی های اندروید </h2>
                  <p><a class="btn red" href="/games.html">لیست بازی های اندروید من</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fbmw.jpg?1543191506564" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
             <h2 class="heading uppercase">مدل های سه بعدی </h2>
                  <p><a class="btn orange pushright" href="/models.html">لیست مدل های سه بعدی من</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>

<div class="wrapper row2">
  <div id="services" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first">
        <article class="service"><i class="icon red circle fa fa-bell-o"></i>
          <h2 class="heading">بدون هیچ هزینه </h2>
          <p class="btmspace-10">تمامی ربات های تلگرامی من بدون هیچ هزینه ای قابل استفاده هستند.</p>

        </article>
      </div>
      <div class="one_third">
        <article class="service"><i class="icon orange circle fa fa-bicycle"></i>
          <h2 class="heading">بازی های بهینه</h2>
          <p class="btmspace-10">بازی های من برای موبایل با آخرین تکنیک ها بهینه سازی شدند و با سرعت بالا اجرا میشند.</p>
        </article>
      </div>
      <div class="one_third">
        <article class="service"><i class="icon green circle fa fa-mortar-board"></i>
          <h2 class="heading">مدل های لو پلی</h2>
          <p class="btmspace-10">مدل های سه بعدی من علاوه بر رایگان بودن لوپلی هستند که براحتی میتونید توی بازی های موبایلی از اونها استفاده کنید</p>
        </article>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row6">
  <section id="cta" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h2 class="heading">!بازی ماشین ران عرضه شد</h2>
      <p>.بالاخره بعد از چند وقت کار کردن روی این بازی , گذاشتمش تو کافه بازار </p>
    </div>
    <div class="one_quarter"><a class="btn" href="https://cafebazaar.ir/app/com.navidgames.mashinran/?l=fa">دریافت بازی از کافه بازار <span class="fa fa-arrow-right"></span></a></div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<%-partial('footer',undefined)%>