<%-partial('header',undefined)%>
   
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>تاور لیزر انداز</h1>
          <img class="centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FTurret2.JPG?1543015753825" alt="">
    </div>
    <br/>
    <br/>
    <a href = "https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FTurretD1.hipnc?1542757305557"> لینک دانلود</a>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>
