  <%-partial('header',undefined)%>

<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      
      <h1>ماشین ران</h1>
      
         <img class = "myimg" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FCapture.JPG?1543159105816" alt="">
  <p style = "direction: rtl ;" >
    بازی ماشین ران به سبک دونده بی نهایت (endless runner)  هست که توی اون شما کنترل یک ماشینو به عهده دارید و باید
    از مانع ها دوری کنید و سکه ها رو جمع کنید تا بتونید باهاش ماشین های جدید بخرید.
    <br/>
    <br/>
          <a href = "https://cafebazaar.ir/app/com.navidgames.mashinran/?l=fa"> لینک دانلود از کافه بازار</a>

      </p>


          <img class="centered" src="https://s.cafebazaar.ir/1/upload/screenshot/com.navidgames.mashinran-538685735339.jpg" alt="">

    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

  <%-partial('footer',undefined)%>
  
