    <%-partial('header',undefined)%>
  
    
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
          <img class = "centered_icon" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181117_223424_530.jpg?1542839665954" alt="">
  <p style = "direction: rtl ;" >
    
      </p> <h1 style = "direction:rtl ;">متابات: </h1>
<p style = "direction: rtl ;">
  
      با این ربات میتونید اطلاعات هر فیلم ، بازی ، سریال یا موزیکیو از سایت <a href = "https://www.Metacritic.com">www.Metacritic.com</a> بصورت منظم و مرتب بگیرید.
فقط اسم چیزیو که میخواید بنویسید و توی این ربات جستجو کنید ، بعد اطلاعات اون از جمله نظر های کاربر ها ، منتقد ها و اطلاعات دست اندرکاران اون محصولو میبینید.
لینک ربات :
<a href = "https://t.me/PersianMetaBot" >https://t.me/PersianMetaBot</a>
لینک تلگرامی:
@PersianMetaBot
  </p>
      <img class = "tall_centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FScreenshot_2018-11-22-01-44-18.jpg?1542839324736" alt="">

    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>
