<%-partial('header',undefined)%>


<div class="wrapper row3">
  <main class="container clear"> 

    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">مدل های من</header>
          <ul class="nospace clear">
              
            <li class="one_quarter first"><a href="/models/laser-tower.html">
                <h1>تاور لیزر انداز</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FTurret2.JPG?1543015014552" alt=""></a></li>
            
              <li class="one_quarter"><a href="/models/turret.html">
                  <h1>تاور تیرانداز</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FTurret3.JPG?1543015021756" alt=""></a></li>
            <li class="one_quarter"><a href="/models/house.html">
                  <h1>خونه</h1><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fhouse.JPG?1543015030409" alt=""></a></li>
            <li class="one_quarter">
                <h1>فیات</h1><a href="/models/fiat.html"><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FFiatImg.JPG?1543177784028" alt=""></a></li>
            <li class="one_quarter first">
                <h1>پل</h1><a href="/models/bridge.html"><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FBridge2.JPG?1543015003183" alt=""></a></li>
              <li class="one_quarter">
                <h1>مدل ماشین اسپرت</h1><a href="/models/sport-car.html"><img src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FSportCarImg.JPG?1543177752804" alt=""></a></li>

          <figcaption>برای دانلود هر مدل روی اون کلیک کنید</figcaption>
        </figure>
      </div>
      
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>
