    <%-partial('header',undefined)%>

    
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      
      
                <img class = "centered_icon" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2Fworld.png?1543014131314" alt="">
  <p style = "direction: rtl ;" >
    
      </p> <h1 style = "direction:rtl ;">ترجمیسم: </h1>
<p style = "direction: rtl ;">
  <br/>
با این ربات میتونید ، یک کلمه، جمله یا حتی یه متن کامل رو از هر زبونی به هر زبون دیگه ای تبدیل کنید.
زبون مبدا رو نیازی نیست انتخاب کنید ، همین که متن خودتون رو بنویسید ، زبونش تشخیص داده میشه.
و اما زبون مقصد هم بطور پیش فرض فارسیه ، یعنی هر متنی بنویسید بطور پیش فرض به فارسی ترجمه میشه ، اما میتونید زبون مقصد رو تغییر بدید تا ربات متنتونو به یه زبون دیگه ترجمه کنه.
این ربات تموم زبونای زنده دنیا رو ساپورت میکنه ، اگه زبونی رو میخواستید ولی توی منو نبود میتونید اسم زبونو تایپ کنید تا زبون مقصدتون به اون زبون تغییر کنه.
  <br/>
لینک ربات:
  <br/>
  <a href = "https://t.me/tarjomismBot">
https://t.me/tarjomismBot
    </a>
  <br/>
لینک تلگرام:
  <br/>
@TarjomismBot
  </p>
      <img class = "tall_centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FScreenshot_2018-11-22-01-37-22.png?1542839338796" alt="">

     
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

    
<%-partial('footer',undefined)%>
