<%-partial('header',undefined)%>
      
    
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
          <img class = "centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181116_150519_413.jpg?1542839653062" alt="">
  <p style = "direction: rtl ;" >
    
      </p> <h1 style = "direction:rtl ;">تورنت یاب: </h1>
<p style = "direction: rtl ;">

حتما یه موقع هایی شده که دنبال یه سری فیلم ها یا بازی هایی میگردین که توی اینترنت پیداشون نمیکنید ، یا پیدا میکنید ولی اون وبسایت به هر دلیلی اجازه دانلود به شما نمیده.
  <br/>
این قضیه به این خاطره که فایل های توی اینترنت باید روی یک سرور آپلود بشن و برای اینکه این سرور ها بتونند ۲۴ ساعته کار کنند ، باید صاحب سایت هزینه ای برای نگهداری سرور پرداخت کنه، پس به همین دلیل بعضی ها فایل هاشونو به رایگان در اختیار شما قرار نمیدن و هزینه عضویت یا هزینه دانلود فایل از شما میگیرند.
  <br/>
از طرف دیگه بعضی فایل ها متعلق به یه سری افراد یا شرکت ها هستند و کسایی که وبسایت دارند نمیتونند اون فایل هارو روی سرور هاشون آپلود کنن(به دلیل قوانین کپی رایت).
  <br/>
از همه اینا که بگذریم ، بعضی وقتا دولت ها یه سری محتوا ها رو محدود میکنن و افراد نمیتونن اون فایل هارو روی سرور هاشون آپلود کنن چون بعدا پاک میشه و در بعضی موارد جرم محسوب میشه.
  <br/>
<h1>
  
      
  تورنت همه ی این مشکلاتو کامل حل میکنه، چطور؟
  </h1>
تورنت یک راه دانلوده که به زبون ساده شما نیازی به سرور نداری و هر کسی که نرم افزار دانلود فایل های تورنت رو داره خودش سرور محسوب میشه ، یعنی اگه صد نفر در حال دانلود یک فایل هستند ، یجورایی انگار صد تا سرور وجود داره.
  <br/>
تورنت اینجوری کار میکنه که یک فایل به چندین قسمت تقسیم میشه ، و هر سیستمی که توی به اشتراک گذاری این فایل شرکت میکنه یک یا چند قسمت از این فایلو در اختیار میگیره ، و مثلا اگه فایل به ۱۰ قسمت تقسیم شده و این سیستم تکه شماره ۲ رو در اختیار داره ، باید ۹ قسمت دیگه رو از کامپیوتر های دیگه دریافت کنه ، اونارو سرهم کنه و بعد فایل آمادس!
  <br/>
مزایای این سیستم اینه که هیچ محدودیتی نداره و شما هر فایلیو میتونید دانلود کنید از این سیستم ( هر چقدر نایاب ، یا هر چقدر غیر مجاز )
این سیستم یه عیب کوچیک داره ، به این خاطر که فایل به بخش های مختلف تقسیم میشه و هر کسی یه قسمتو در اختیار داره ، حتما باید حداقل چند سیستم همزمان در حال به اشتراک گذاری این فایل باشند .
  <br/>
      <h1>
        
      
ربات من چه کمکی میکنه
  </h1>
        <br/>
.اگه بخواین بطور معمولی فایل تورنت دانلود کنید باید اولا نرم افزار تورنتو از بین سایت های مختلف پیدا کنید ، که ممکنه یکم طول بکشه ، ولی من توی رباتم این نرم افزارو براتون گذاشتم که راحت میتونید روی گوشیتون نصب کنید
حالا بعد از این که نرم افزارو نصب کردید اگه از ربات من استفاده نکنید ، باید کلی وقت بذارید که یک سایت پیدا کنید که فایل های تورنت به اشتراک میذاره ، که اگه انگلیسیتون خوب نباشه اصلا کار ساده ای نیست ، شاید بیشتر از یک ساعت زمان ببره. از طرف دیگه نه تنها ایران این وبسایت هارو فیلتر میکنه بلکه همه ی کشور های دیگه این وبسایت ها رو فیلتر میکنندو میبندن ، چون این وبسایت ها قوانین کپی رایتو نقض میکنند.
  <br/>
 .بعد از اون باید بلد باشید کدوم لینکو استفاده کنید که اینم باید آموزش ببینید
.ولی با ربات من تنها کاری که نیازه بکنید اینه که بعد از نصب نرم افزار بیت تورنت (که خیلی سادس) ، اسم فایلی که میخواید رو ( موزیک ، بازی ، نرم افزار ، یا هرچیز دیگه) جستجو کنید ، و بعد لینک فایل مگنت اونو توی نرم افزار بیت تورنت کپی کنید ، به همین سادگی میتونید نایاب ترین یا غیرمجاز ترین فایل های جهانو دانلود کنید
 <br/> 
      <h1>
        
      
اطلاعات بیشتر<br/> 
        </h1>
      <h1>
        
      
محدودیت جستجو<br/>
        </h1>
.برای اینکه ربات خیلی سریع جواب بده و یا اینکه یهو صد تا پیام براتون نفرسته ، ربات محدود شده و هر بار که جستجو میکنید فقط چند تا نتیجه بیشتر نشون نمیده ، ولی میتونید این محدودیتو از منو تغییر بدید

<h1>
  
      
لینک ربات
  </h1>

<a href = "https://t.me/TorrentYabBot" >https://t.me/TorrentYabBot</a>
<br/>
@TorrentYabBot

  </p>
      <img class = "tall_centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FScreenshot_2018-11-22-01-36-14.png?1542839335250" alt="">

      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<%-partial('footer',undefined)%>

