<%-partial('header',undefined)%>
   
    
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
       <img class = "myimg" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FIMG_20181113_170314.jpg?1542839661506" alt="">
  <p style = "direction: rtl ;" >
    
      </p> <h1 style = "direction:rtl ;">ربات همه کاره: </h1>
<p style = "direction: rtl ;">
      
      
این ربات کارایی های مختلفی داره و سعی میکنه باز هم کارایی های بیشتر بهش اضافه کنم، از جمله کارایی هاش موارد زیره:
<br/>

تبدیل متن به شکل: 
  <br/>
تو این بخش میتونید هر نوشته ای ( فعلا فقط حروف انگلیسی) رو به یه شکل جالب در بیارید.
<br/>
وضع آب و هوا:
  <br/>
با این بخش میتونید هوا , رطوبت، سرعت وزش باد هر شهر یا استانی در هر جای دنیا رو بدونید، فقط کافیه اسم شهرو بنویسید یا انتخاب کنید از منو.
  <br/>
  لینک:
  <br/>
  <a href = "https://t.me/PersianUtilityBot">https://t.me/PersianUtilityBot</a>
  <br/>
  <br/>
  <br/>
  @PersianUtilityBot
      </p>


          <img class="tall_centered" src="https://cdn.glitch.com/1e1b1fa1-b705-4b5f-b2dd-da74ac1ea3fd%2FScreenshot_2018-11-22-01-42-43.png?1543193422056" alt="">

      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

    
<%-partial('footer',undefined)%>
