.myimg{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}


.centered_icon
{
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.centered
{
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tall_centered
{
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
}